apps/osmo-auth/src/main/webapp/wsdl/WSEliminarUsuario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://eliminarusuario.servicioweb.osmoautenticador.osmosyscol.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://eliminarusuario.servicioweb.osmoautenticador.osmosyscol.com" xmlns:intf="http://eliminarusuario.servicioweb.osmoautenticador.osmosyscol.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://eliminarusuario.servicioweb.osmoautenticador.osmosyscol.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="eliminarUsuario">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="eliminarUsuarioReturn" type="impl:RespuestaEliminarUsuario"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RespuestaEliminarUsuario">
    <sequence>
     <element name="exitoso" nillable="true" type="xsd:boolean"/>
     <element name="mensaje" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="eliminarUsuarioRequest">

      <wsdl:part element="impl:eliminarUsuario" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="eliminarUsuarioResponse">

      <wsdl:part element="impl:eliminarUsuarioResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSEliminarUsuario">

      <wsdl:operation name="eliminarUsuario">

         <wsdl:input message="impl:eliminarUsuarioRequest" name="eliminarUsuarioRequest"/>

         <wsdl:output message="impl:eliminarUsuarioResponse" name="eliminarUsuarioResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSEliminarUsuarioSoapBinding" type="impl:WSEliminarUsuario">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="eliminarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSEliminarUsuarioService">

      <wsdl:port binding="impl:WSEliminarUsuarioSoapBinding" name="WSEliminarUsuario">

         <wsdlsoap:address location="http://localhost:8080/OsmoAutenticador/services/WSEliminarUsuario"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
