web-data/WebContent/wsdl/WSListaValores.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.webdata.datasuite.osmosyscol.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.webdata.datasuite.osmosyscol.com" xmlns:intf="http://webservices.webdata.datasuite.osmosyscol.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.webdata.datasuite.osmosyscol.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="actualizarListaValores">
    <complexType>
     <sequence>
      <element name="idListaValores" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarListaValoresResponse">
    <complexType>
     <sequence>
      <element name="actualizarListaValoresReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="actualizarListaValoresRequest">

      <wsdl:part element="impl:actualizarListaValores" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarListaValoresResponse">

      <wsdl:part element="impl:actualizarListaValoresResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSListaValores">

      <wsdl:operation name="actualizarListaValores">

         <wsdl:input message="impl:actualizarListaValoresRequest" name="actualizarListaValoresRequest">

       </wsdl:input>

         <wsdl:output message="impl:actualizarListaValoresResponse" name="actualizarListaValoresResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSListaValoresSoapBinding" type="impl:WSListaValores">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="actualizarListaValores">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarListaValoresRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarListaValoresResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSListaValoresService">

      <wsdl:port binding="impl:WSListaValoresSoapBinding" name="WSListaValores">

         <wsdlsoap:address location="http://localhost:8080/WebData/services/WSListaValores"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
