osmo-auth/src/main/webapp/wsdl/WSRoles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://roles.servicioweb.osmoautenticador.osmosyscol.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://roles.servicioweb.osmoautenticador.osmosyscol.com" xmlns:intf="http://roles.servicioweb.osmoautenticador.osmosyscol.com" xmlns:tns1="http://dominio.osmoautenticador.osmosyscol.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://roles.servicioweb.osmoautenticador.osmosyscol.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dominio.osmoautenticador.osmosyscol.com"/>
   <element name="obtenerRolesUsuario">
    <complexType>
     <sequence>
      <element name="loginUsuario" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerRolesUsuarioResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="obtenerRolesUsuarioReturn" type="tns1:RolUs"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dominio.osmoautenticador.osmosyscol.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="RolUs">
    <sequence>
     <element name="id_rol" nillable="true" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerRolesUsuarioResponse">

      <wsdl:part element="impl:obtenerRolesUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerRolesUsuarioRequest">

      <wsdl:part element="impl:obtenerRolesUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSRoles">

      <wsdl:operation name="obtenerRolesUsuario">

         <wsdl:input message="impl:obtenerRolesUsuarioRequest" name="obtenerRolesUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerRolesUsuarioResponse" name="obtenerRolesUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSRolesSoapBinding" type="impl:WSRoles">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerRolesUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerRolesUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerRolesUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSRolesService">

      <wsdl:port binding="impl:WSRolesSoapBinding" name="WSRoles">

         <wsdlsoap:address location="http://localhost:8080/OsmoAutenticador/services/WSRoles"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
